/* ------------------------ General styles ------------------------- */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


html {
  max-width: 100%;
  overflow-x: hidden;
}
body,
html {
  height: 100%;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #000;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #555555;
  border: 2px solid #555555;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-size: inherit;
  color: inherit;
}
a,
button {
  outline: 0;
  text-decoration: none;
  border: none;
}
a:hover,
a:focus,
button:hover,
button:focus {
  outline: 0;
  text-decoration: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
.bg-black {
  background-color: black;
}
/* -------------------------- login page  --------------------------- */
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  .login-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    .logo {
      max-width: 100px;
    }
    .twitter-button {
      a {
        background-color: #03a9f4;
        color: #f8fbff;
        padding: 3px 15px 3px 3px;
        text-decoration: none;
        min-height: 40px;
        display: flex;
        align-items: center;
        border-radius: 50px;
        margin-top: 40px;
      }
      img {
        max-width: 40px;
      }
    }
  }
}

.message-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  .message-section {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
      &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(128, 126, 126, 0.3);
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #555555;
      border: 2px solid #555555;
    }
    .message-list {
       margin-bottom: 80px;
      margin-top: 137px;
      .userBio {
        text-align: center;
        color: #797979;
        font-size: 11px;
      }
    }
  }
  .message-box {
    position: fixed;
  }
}

/* -------------------------- home page page  --------------------------- */

.user-info {
  p {
    color: #FC6734;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
  }
  h2 {
    font-size: 23px;
    color: #fff;
    font-weight: 700;
  }
  .infoIcon {
    cursor: pointer;
  }
  .user-spe {
    display: flex;
    align-items: center;
    height: auto !important;
    margin-bottom: 14px;
    margin-top: 20px;
    font-weight: 700;
    h1 {
      color: #fff;
      font-size: 20px;
      margin: 0;
    }
  }
  .user-img {
    width: 34px;
    height: 34px !important;
    border-radius: 100px;
    overflow: hidden;
    background-color: #fff;
    margin-right: 10px;
  }
}

.user-spe {
  display: flex;
  align-items: center;
  height: auto !important;
  margin-bottom: 10px;
  margin-top: 20px;
  label {
    color: #fff;
    font-size: 20px;
    padding-left: 5px;
    font-weight: 700;
    margin: 0;
    cursor: pointer;
  }
}

.user-img {
  width: 34px;
  height: 34px !important;
  border-radius: 100px;
  overflow: hidden;
  background-color: #fff;
  margin-right: 10px;
}

.btn-connect {
  min-height: 40px;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 1px #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  background-color: #000;
  &:hover {
    border: solid 1px #fff;
    background-color: #fff !important;
    color: #000;
  }
}

.connection-list {
    margin-top: 30px;
    font-size: 12px;
    .connection-header {
        display: flex;
        justify-content: space-between;
        border-bottom: solid 1px rgba(255, 255, 255, 0.32);
        padding: 10px 0;
        label { color: rgba(255, 255, 255, 0.646); }
        a {
            text-decoration: none;
             color: #fff;
             font-size: 14px;
        }
    }
    ul {
        li {
            border-bottom: solid 1px rgba(255, 255, 255, 0.32);
            &:last-child {
                 border-bottom:none;
            }
            .connection-user-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .user-spe {
                    .user-img {
                        width: 28px;
                        height: 28px !important;
                    }
                    label {
                        font-size: 16px;
                        span {
                        color: rgba(255, 255, 255, 0.646);
                        font-size: 16px;
                        margin-left: 15px;
                        }
                    }
                }
                .favorite {
                    display: flex;
                    align-items: center;
                    label {
                        color:  rgba(255, 255, 255, 0.642);
                        margin-right: 10px;
                    }
                }
            }
            p {
                color: #fff;
                font-size: 16px;
            }
        }
    }
}

.connections-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  .connections-section {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgb(0, 0, 0);
    padding-top: 0px;
    padding-bottom: 20px;
     &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(128, 126, 126, 0.3);
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #555555;
      border: 2px solid #555555;
    }
    .connection-list {
      margin-left: 20px;
      margin-top: 0;
      .connection-user-info {
        .user-spe {
          margin-top: 15px;
          margin-bottom: 15px;
        }
        .favorite {
          margin-right: 15px;
        }
      }
    }
  }
  .navgation-section {
    position: relative;
    z-index: 11;
    
  }
}

/* -------------------------- slider  --------------------------- */
// .owl-slide {
//   position: relative;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   height: 100vh;
//   overflow: hidden;
//   .owlSlideBlock {
//     height: 100vh;
//   }
//   .owl-lazy-img {
//      height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     img {
//       width: auto;
//       height: 100%;
//       max-width: fit-content;
//     }
//   }
//   &::before {
//     content: "";
//     background: linear-gradient(8.23deg, rgba(0, 0, 0, 0.7) 54.05%, rgba(0, 0, 0, 0) 68.09%);
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     z-index: 1;
//   }
//   .owl--text {
//     position: absolute;
//     bottom: 120px;
//     left: 20px;
//     right: 20px;
//     width: calc(100% - 40px);
//     height: auto !important;
//     padding: 1em;
//     z-index: 11;
//     cursor: pointer;
//     .btn-connect {
//       background-color: transparent;
//     }
//   }
// }

/* -------------------------- Navgation  --------------------------- */

.navgation-section {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(242, 242, 242, 0.2);
  background-color: transparent;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 111;
  ul {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 20px;
      a {
        position: relative;
        img {
          max-width: 30px;
        }
        .notifactionNumber {
          width: 25px;
          color: #fff;
          background-color: red;
          height: 25px;
          border-radius: 100px;
          overflow: hidden;
          position: absolute;
          display: flex;
          font-size: 13px;
          align-items: center;
          justify-content: center;
          top: 0;
          right: -20px;
        }
      }
    }
  }
}

 .notifactionNumber {
      width: 25px;
      color: #fff;
      background-color: red;
      height: 25px;
      border-radius: 100px;
      overflow: hidden;
      position: absolute;
      display: flex;
      font-size: 13px;
      align-items: center;
      justify-content: center;
      right: 20px;
 }

.user-textarea {
  width: 100%;
  position: relative;
  textarea {
    width: 100%;
    background-color: #000;
    color: #f2f2f2;
    padding: 10px 40px 10px 10px;
    font-size: 20px;
    margin-top: 10px;
    border: none;
    min-height: 100px;
    &:focus {
      outline: none !important;
      border: none !important;
      box-shadow: none;
    }
     &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(128, 126, 126, 0.3);
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #555555;
      border: 2px solid #555555;
    }
  }
  .microphone-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    img {
      max-width: 30px;
    }
  }
}

.postHeader {
  padding: 10px 10px 0;
}

.post-list {
  margin: 0 0 55px;
  h2 {
    color: #fff;
    font-size: 24px;
  }
  ul {
    margin: 30px 0 0;
    padding: 0;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
     &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(128, 126, 126, 0.3);
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #555555;
      border: 2px solid #555555;
    }
    li {
      background-color: #222222;
      border-radius: 6px;
      padding: 20px;
      margin-bottom: 20px;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 320px;
      margin-right: 15px;
      .post-text {
        p {
          padding: 0;
          margin-bottom: 0;
          font-size: 20px;
        }
        label {
          color: green;
          font-size: 14px;
        }
      }

      img {
       max-width: 20px;
       margin-left: 20px;
      }
    }
  }
}

.generateSuggestions {
  display: flex;
  align-items: center;
  .btn-connect {
    margin-top: 0;
  }
  .btnGenerate {
    margin-left: 20px;
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 700;
    font-size: 16px;
  }
}

// connection

.connection-block {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
  }
  ul {
    overflow-y: scroll;
    max-height: calc(100vh - 150px);
    li {
      padding: 25px 0;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        border-bottom: solid 1px #f2f2f250;
        width:calc(100% - 50px);
        right: 0;
        bottom: 0;
      }
      &:last-child {
        border-bottom: none;
      }
      a {
        cursor: pointer;
        text-decoration: none;
        margin: 0;
      }
    }
  }
}

// message
.message-header {
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(242, 242, 242, 0.2);
  z-index: 111;
  background-color: #000;
   position: fixed;
   top: 0;
  .message-header-block {
    display: flex;
    align-items: center;
    margin: 10px 20px 0;
    h2 {
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      margin-left: 10px;
    }
    img {
      max-width: 34px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  .message-label {
     color: #797979;
     margin: 15px;
     font-size: 14px;
  }
  .opt-out {
    color: rgba(255, 0, 0, 0.539);
    margin-left: 25px;
    font-size: 14px;
  }
  .mes-users-header {
    .user-spe {
      margin-top: 10px;
      margin-bottom: 10px;
      .user-img {
        width: 28px;
        height: 28px !important;
        img {
          max-width: 100% !important;
        }
      }
    }
    label {
      color: #fff;
      font-size: 20px;
      padding-left: 5px;
      margin: 0;
      cursor: pointer;
    }
    .message-label {
      margin-left: 0;
    }
  }
  
}

.message-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: initial;
  z-index: 111;
  padding: 0;
  input {
    width: 100%;
    height: 60px;
    border-radius: 0;
    background-color: #000;
    border: 0;
    padding: 10px 60px 10px 10px;
    border-top: solid 1px hsla(0, 0%, 95%, 0.153);
    color: #fff;
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
  .send-icon {
    position: fixed;
    z-index: 111;
    bottom: 13px;
    right: 10px;
    background: transparent;
    width: 50px;
    border: none;
    img {
      width: 28px;
    }
  }
}

// message
.message-section {
  // position: absolute;
  // width: calc(100% - 40px);
  bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  .other-message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
     margin-top: 15px;
     margin-bottom: 15px;
    .favorite {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      color: rgba(255, 255, 255, 0.468);
     }
    .other-message-info {
      max-width: 75%;
      text-align: left;
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
    }
    p {
      margin-bottom: 0;
    }
  }
  .my-message {
     display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
     margin-top: 15px;
     margin-bottom: 15px;
    .favorite {
      position: absolute;
      right: 20px;
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
      color: rgba(255, 255, 255, 0.468);
     }
    .my-message-info {
      max-width: 75%;
      font-size: 14px;
    }
     p {
      margin-bottom: 0;
    }
  }
  .message-list {
    margin-bottom: 60px;
    //  overflow-y: scroll;
    //  max-height: calc(100vh - 200px);
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 10px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #555555;
      border: 2px solid #555555;
    }
    p {
      color: #fff;
    }
  }
  .message-label {
    color: rgba(255, 255, 255, 0.468);
    font-size: 14px;
  }
}

// profile
.profile-section {
  position: absolute;
  bottom: 90px;
  .profile-info {
    h1 {
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }
}

// slider

.tns-outer {
  .tns-nav {
    display: none;
  }
}

.controls-block {
  display: flex;
  justify-content: center;
  #customize-controls {
      position: fixed;
      bottom: 80px;
      z-index: 111;
      width: 300px;
      text-align: center;

      img {
        max-width: 40px;
        cursor: pointer;
      }
  }
}

// 

.popup {
    padding: 10px;
    display: none;
    z-index: 1111;
    align-items: center;
    position: absolute;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.71);
    top: 0;
    transition: all 0.3s ease;
    justify-content: center;
  .popupHeader {
    display: flex;
    align-items: center;
    padding: 20px;
    a {
      margin-right: 10px;
       img {
        height: 30px;
        width: 30px;
        margin-right: 10px;
        display: block;
      }
    }
    h2 {
      font-weight: 700;
      font-size: 22px;
      color: #fff;
      margin-left: 10px;
    }
  }
  .popupImg {
    position: relative;
    &::before {
      content: "";
      background: linear-gradient(8.23deg, rgba(0, 0, 0, 0.7) 54.05%, rgba(0, 0, 0, 0) 68.09%);
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
  .popupInside {
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    .popupInfo {
      position: absolute;
      bottom: 0;
      margin: 20px;
      z-index: 11;
      .btn-connect {
        background-color: transparent;
      }
    }
    .img {
      max-width: 100%;
      width: 100%;
    }
  }
}

.signoutSection {
  height: 100vh;  
  position: relative;
  .user-info {
    h2 {
      color: #B2B2B2;
      font-size: 12px;
    }
    position: absolute;
    bottom: 120px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
    height: auto !important;
    padding: 1em;
    z-index: 11;
    cursor: pointer;
    .user-spe {
        align-items: flex-start;
        flex-direction: column;
        .userActionBlock {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          .userAction {
            display: flex;
            align-items: center;
            .btn-border {
              margin-right: 10px;
            }
            button {
              margin-top: 0;
            }
          }
        }
        .user-img {
            width: 44px;
            height: 44px !important;
            margin-bottom: 10px;
        }
    }
  }
}


.btn-border {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 700;
    font-size: 16px;
}

// resposnsive 

// @media only screen and (min-width: 960px) {
//   .owlSlideBlock {
//       .owl-lazy-img {
//       height: inherit;
//       display: inherit;
//       justify-content: inherit;
//       align-items: inherit;
//       img {
//         width: 100%;
//         height: max-content;
//         max-width: 100%;
//       }
//     }
//   }
// }




.slider-intro {
  width: 100%;
  height: 100%;
  .slider-intro__slide {
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center; 
  }
  .caption {
    width: 100%;
    padding: 0 40px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    text-align: center;
    color: #fff;
    background: linear-gradient(1deg, rgba(0, 0, 0, 0.7) 54.05%, rgba(0, 0, 0, 0) 68.09%);
  }
 .userCaptionContent {
     width: 100%;
     margin-bottom: 120px;
    .user-info {
        h2 {
          text-align: left;
           margin: 26px 0;
        }
        p {
            color: #FC6734;
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 16px;
            cursor: pointer;
            margin-bottom: 30px;
            text-align: left;
          }
        button {
          background-color: transparent;
        }
    }
 }


}

